# Prerequisites
*.d

# Compiled Object files
ctab/.vs
ctab/Debug
ctab/Release
ctab/ipch
utilib/.vs
utilib/Debug
utilib/Release
utilib/ipch
*.slo
*.lo
*.o
*.obj
*.opendb
*.db

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
